<%= form_for(blog) do %>
  <% if blog.errors.any? %>
    <% blog.errors.full_messages.each do |error| %>
      <% js add_gritter(, title: "Talmage Rollins Portfolio", sticky: false) %>
    <% end %>
  <% end %>

  <div class="form-group">
    <%= label_tag 'title', 'Blog' %>
    <%= text_field_tag 'title', blog.title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= label_tag 'body', 'Blog Content' %>
    <%= text_field_tag 'body', blog.body, class: 'form-control', rows: 15 %>
  </div>


  <div class="form-group">
    <%= submit_tag 'Save', class: 'btn btn-primary' %>
  </div>

<% end %>